---
import BaseLayout from './BaseLayout.astro';

export interface Props {
  title: string;
  description: string;
  noindex?: boolean;
}

const { title, description, noindex } = Astro.props;
---

<BaseLayout title={title} description={description} noindex={noindex}>
  <article class="mx-auto max-w-article px-4 py-10 md:px-6 md:py-16">
    <div class="prose prose-lg">
      <slot />
    </div>
  </article>
</BaseLayout>
